<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhdoan.doanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- receiver -->
        <receiver
            android:name=".broadcastnh.MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <!-- activity -->
        <activity
            android:name=".ui.mainAc.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.programAc.ProgramingActivity" />
        <activity
            android:name=".ui.beaconAc.BeaconActivity"
            android:label="Beacon"
            android:launchMode="singleInstance" />
        <!-- service -->
        <service
            android:name=".services.MyService"
            android:label="@string/service_name" />
        <service android:name=".ui.screenRecord.RecordService" />

        <activity android:name=".ui.screenRecord.AudioRecordTest" />
        <activity android:name=".ui.screenRecord.ScreenRecordActivity" />
        <activity android:name=".ui.playVideo.ActivityPlayVideo"></activity>
        <activity android:name=".ui.speechRecognition.ActivityRecognizeSpeech" />
        <activity android:name=".ui.slideView.SlideViewActivity" />
    </application>

</manifest>